header nav .c
{
  border-bottom: 5px solid rgb(39, 93, 255);
}
.con
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 24%;
}
h1
{
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 1em;
}
.card
{
  display: inline-block;
  min-width: 15em;
  min-height: 14em;
  padding-top: 2em;
  text-align: center;
  border-radius: 5px;
  box-shadow: 8px 8px 30px rgb(204, 204, 204);
  transition: .5s;
}
.card:hover
{
  transform: scale(1.1);
  transition: .5s;
}
.phone
{
  margin-bottom: -8px;
}
.card i
{
  font-size: 80px;
  color: rgb(17, 60, 199);
  margin-bottom: .3em;
}
.card span
{
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: .7em;
}
#margin
{
  margin-left: .5em;
}