@import url('http://fonts.googleapis.com/earlyaccess/droidarabickufi.css');
*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body
{
  background-color: whitesmoke;
  font-family: "Droid Arabic Kufi", serif;
  font-size: 20px;
}
header
{
  height: 5em;
  width: 100%;
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  opacity: .9;
  z-index: 1000;
  position: sticky;
  top: 0em;
}
header img
{
  width: 100px;
  height: 100px;
}
header nav a
{
  display: inline-block;
  text-decoration: none;
  color: black;
  margin-left: 1em;
  padding: 0 1em;
  font-size: 1em;
  font-weight: bold;
  line-height: 3em;
  border-radius: 1.5em;
  transition: .7s;
}
header nav a:hover
{
  color: whitesmoke;
  background-color: rgb(39, 93, 255);
  transition: .7s;
}
