header nav .a 
{
  border-bottom: 5px solid rgb(39, 93, 255);
}
.con
{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.con img
{
  height: 25em;
  width: 25em;
  margin-top: -2.5em;
}
.imgcontainer
{
  display: flex;
  justify-content: center;
}
.rightside
{
  width: 70%;
  height: 50em;
  background-color: aqua;
  padding: .5em;
}
.rightside h1
{
  margin-bottom: 1em;
}
.description span
{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.leftside
{
  width: 30%;
  height: 50em;
  background-color: aquamarine;
  padding: .5em;
}
