header nav .a 
{
  border-bottom: 5px solid rgb(39, 93, 255);
}
.fullnews
{
  width: 100%;
  padding: .5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text
{
  width: 70%;
  height: 20em;
  /* background-color: aqua; */
  padding: .25em;
}
.text h1
{
  margin-bottom: .5em;
}
.text p
{
  font-size: 1.25em;
}
.image
{
  width: 30%;
  height: 20em;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.438);
  transition: .5s;
}
.image img
{
  width: 120%;
  height: 20em;
}
.image:hover
{
  transform: scale(1.031);
  transition: .5s;
}